* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dash {
  left: 24%;
  position: relative;
  width: 60%;

  height: 100vh;
}
.nav {
  /* overflow: hidden; */
  position: relative;
  left: 0%;
  top: 2%;
  height: 15%;
  width: 95%;
  background: #4525f2;

  /* background-image: url(./images/nav.jpg); */

  background-size: 100% 100%;
  border-radius: 2%;
}
.quarter {
  width: 9%;
  height: 60%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 100%;
  background-color: pink;
}
.profilePic {
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 45%;
  left: 42%;
  font-size: 1.1rem;
  height: 95%;
  width: 15%;
  border-radius: 50%;
  background: white;
  box-shadow: 13px 14px 13px grey;
  font-weight: bold;
  border: none;
}
.info {
  position: relative;
  top: 5%;
  width: 100%;
  height: 30%;
  display: flex;
}
.bio,
.skills {
  border-radius: 8px;
  position: relative;
  font-weight: bold;
  width: 35%;
  box-shadow: 5px 6px 5px gray;
  border: 2px solid rgb(238, 237, 237);
  height: 10%;
  padding: 2px 13px;
}
.bio {
  top: 35%;
  left: -5%;
}
.skills {
  left: 30%;
  top: 18%;
}
.confirm {
  border-radius: 58px;
  border: 2px solid rgb(238, 237, 237);
  font-weight: bold;
  padding: 2px 13px;
  background-color: rgb(5, 72, 228);
  color: white;
  position: relative;
  left: -28%;
  top: 54%;
  font-size: 80%;
  width: 10%;
  padding: 3px 2px;
  cursor: pointer;
  height: 14%;
}
.confirm:hover{
  background: rgb(168, 237, 93);
transform: scale(1.05);
}
.back {
  color: rgb(5, 72, 228);
  background-color: rgb(250, 250, 250);

  font-weight: bolder;
  padding: 2px 13px;

  left: -38%;

  position: relative;
  top: 72%;
  width: 80px;
  height: 35px;
}
.bottom {
  overflow: hidden;
  position: relative;
  left: 0%;
  top: 2%;
  height: 350px;
  width: 95%;
  background: #4525f2;
  /* background-image: url('./images/bottom.jpg'); */
  background-size: 100% 100%;

  border-radius: 2%;
}
.success {
  border: 5px solid rgb(59, 58, 58);
  width: 60%;
  position: absolute;
  left: 20%;
  border-radius: 25px;
  top: 25%;
  height: 40%;
}
.check {
  position: absolute;
  left: 47%;
  top: 5%;
  height: 30%;

  width: 10%;
  /* background: url(./images/check.png)  ; */
  background-image: url(./images/check.png);

  background-size: 100% 100%;
  border-radius: 50%;
}
.p1 {
  color: aliceblue;
  position: absolute;
  top: 35%;
  font-family: Georgia, "Times New Roman", Times, serif;
  left: 42%;
  font-weight: bolder;
  font-size: 1.4rem;
}
.dot_side {
  position: absolute;
  top: 60%;
  height: 10%;
  width: 3%;
  border-radius: 50%;
  background-color: #4525f2;
}
.quarter_side {
  position: absolute;
  right: 5%;
  top: 50%;
  background-color: #4525f2;
  width: 9%;
  height: 30%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 100%;
}
.p2 {
  position: absolute;
  font-weight: bold;
  top: 60%;
  left: 30%;
  color: white;
}
.explore {
  position: absolute;
  left: 42%;
  top: 80%;
  font-weight: bolder;
  font-size: 80%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
  width: 14%;
  height: 6%;
  border-radius: 12px 12px;
  border: none;
  box-sizing: 12px 13px 3px rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}
.big_top {
  top: -11%;
  left: -5%;
  position: absolute;
  height: 40%;
  width: 18%;

  border-radius: 50%;
  background-color: pink;
}
.big_down {
  top: 70%;
  left: 85%;
  position: absolute;
  height: 50%;
  width: 22%;

  border-radius: 50%;
  background-color: pink;
}
.c1 {
  position: absolute;
  top: 25%;
  left: 13%;
  height: 6%;
  width: 3%; 
  border-radius: 50%;
  background-color: pink;
}
.c2 {
  position: absolute;
  top: 33%;
  left: 18%;
  height: 3%;
  width: 1.5%;

  border-radius: 50%;
  background-color: pink;
}
.c3 {
  position: absolute;
  top: 90%;
  left: 82%;
  height: 6%;
  width: 3%;

  border-radius: 50%;
  background-color: pink;
}
.mobile_info{
  display: none;
}

.mobile_profile{
        width: 100px;
  height: 100px;
  background: white;
    border-radius: 50%;
    border: black solid 2px;
}
#mobile_button{
  width: 40px;
  height: 20px;
}
/* .mobile_info.mobile_profile{
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 10px;
} */
@media(max-width:998px){
  html{
    font-size: 70%;
  }
  .dash{
    width: 100%;
    left: 2%;
    right:0%

  }
  .back{
    left: -38%;
  }
  .check{
    left: 42%;
  }
  .p1{
    left: 39%;
  }
}
@media(max-width:768px){
  html{
    font-size: 70%;
  }
  .back{
    left: -43%;
  }
  .dash{
    width: 100%;
    left: 3%;
    right:0%

  }
  .check{
    left: 42%;
  }
  .p1{
    left: 34%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
 
  }
  .bottom,.nav,.dot_side,.quarter_side,.info{
    display: none;
  }
  .mobile_info{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    column-gap: 10px;

  }

}